<h1>Welcome to your To-do List !!</h1>
<hr>

<button routerLink="/todo/new" mat-fab color="primary"> Add</button>
<div class="container-fluid">
  <div class="row">
    <div id="dashboard" class="col-3">
      <h2>Dashboard</h2>
      <hr>
      <p>Number of Todos in progress : {{ todosInProgress }}</p>
      <p>Number of Todos done : {{ todosDone }}</p>
    </div>

    <div id="inProgress" class="col-4">
      <h2> Todos in progress</h2>
      <div *ngFor="let todo of todos">
        <div class="card" *ngIf="todo.state == 'in progress'">
          <div class="card-body">
            <h3 [routerLink]="[ '/todo', todo.id ]" class="card-title">
              {{todo.title}}
            </h3>
          </div>
          <div class="row">
            <div class="col-6">
              <mat-checkbox (change)="validateTodo(todo.id)" [checked]="isChecked">Did it !</mat-checkbox>
            </div>
            <div class="col-6 justify-content-end">
              <button (click)="deleteTodo(todo.id)" mat-raised-button color="warn">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="done" class="col-4">
      <h2> Todos done</h2>
      <div *ngFor="let todo of todos">
        <div class="card" *ngIf="todo.state == 'done'">
          <div class="card-body">
            <h3 [routerLink]="[ '/todo', todo.id ]" class="card-title">
             {{todo.title}}
            </h3>
          </div>
          <button (click)="deleteTodo(todo.id)" mat-raised-button color="warn"> Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>