<h1>New Todo</h1>

<form class="form-group">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <mat-form-field #newTitle>
          <input name="title" matInput placeholder="Title" [(ngModel)]="todo.title" required>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field #newBody>
          <textarea name="body" matInput placeholder="Body" [(ngModel)]="todo.body"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
          <button type="button" (click)="goBack()" mat-raised-button color="warn">Go back</button>
      </div>
      <div class="col-6">
          <button type="button" (click)="newTodo()" mat-raised-button color="primary">Got a new todo !</button>
        </div>
    </div>
  </div>
</form>